html, address,
blockquote,
body, dd, div,
dl, dt, fieldset, form,
frame, frameset,
h1, h2, h3, h4,
h5, h6, noframes,
ol, p, ul, center,
dir, hr, menu, pre   { display: block }
form   { display: inline }
li              { display: list-item }
head            { display: none }
table           { display: table }
tr              { display: table-row }
thead           { display: table-header-group }
tbody           { display: table-row-group }
tfoot           { display: table-footer-group }
col             { display: table-column }
colgroup        { display: table-column-group }
td, th          { display: table-cell }
caption         { display: table-caption }
th              { font-weight: bolder; text-align: center }
caption         { text-align: center }
body            { margin: 8px }
h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h4, p,
blockquote, ul,
fieldset, form,
ol, dl, dir,
menu            { margin: 1.12em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6, b,
strong          { font-weight: bolder }
blockquote      { margin-left: 40px; margin-right: 40px }
i, cite, em,
var, address    { font-style: italic }
pre, tt, code,
kbd, samp       { font-family: monospace }
pre             { white-space: pre }
button, textarea,
input, select   { display: inline-block }
input, select   { display: inline }
big             { font-size: 1.17em }
small, sub, sup { font-size: .83em }
sub             { vertical-align: sub }
sup             { vertical-align: super }
table           { border-spacing: 2px; }
thead, tbody,
tfoot           { vertical-align: middle }
td, th, tr      { vertical-align: inherit }
s, strike, del  { text-decoration: line-through }
hr              { border: 1px inset }
ol, ul, dir,
menu, dd        { margin-left: 40px }
ol              { list-style-type: decimal }
ol ul, ul ol,
ul ul, ol ol    { margin-top: 0; margin-bottom: 0 }
u, ins          { text-decoration: underline }
br:before       { content: "\A"; white-space: pre-line }
center          { text-align: center }
:link, :visited { text-decoration: underline }
:focus          { outline: thin dotted invert }

/* Begin bidirectionality settings (do not change) */
BDO[DIR="ltr"]  { direction: ltr; unicode-bidi: bidi-override }
BDO[DIR="rtl"]  { direction: rtl; unicode-bidi: bidi-override }

*[DIR="ltr"]    { direction: ltr; unicode-bidi: embed }
*[DIR="rtl"]    { direction: rtl; unicode-bidi: embed }

@media print {
    h1            { page-break-before: always }
    h1, h2, h3,
    h4, h5, h6    { page-break-after: avoid }
    ul, ol, dl    { page-break-before: avoid }
}

/* http://www.htmldog.com/examples/inputcheckboxes.html June 10, 2008 */

fieldset {
    padding: 0 1em 1em 1em;
}

legend {
    padding: 1em;
}

label {
    float: left;
    width: 6em;
}

#header {
  position: fixed;
  width: 100%;
  height: 1.5em;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  color: white;
  background-color: #443266;
  margin: 0;
  padding: 0;
  text-align: center;
}

#header h1 {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

#header a { color: white; }

#sidebar {
  position: fixed;
  width: 10em;
  height: auto;
  top: 1.5em;
  right: auto;
  bottom: 1.5em;
  left: 0;
  background-color: #C3C3E5
}

#sidebar h1 {
  font-size: 1.17em;
  margin: 0;
  padding: 4px;
}

#sidebar ul {
    padding: 6px;
    margin: 2px;
}

#main {
    margin: 8px;
    position: fixed;
    width: auto;
    height: auto;
    top: 1.5em;
    right: 0;
    bottom: 1.5em;
    left: 10em;
    background-color: #F1F0FF;
    background-color: #FFFFFF;
    overflow: auto;
}

#footer {
  position: fixed;
  width: 100%;
  height: 1.5em;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  background-color: #8C489F;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
}

#footer h1 {
    font-size: 1em;
    margin: 0;
    padding: 0;
    display: inline;
}

#footer p {
    display:inline;
}
